{% extends 'base.html.twig' %}

{% block title %}Информация{% endblock %}

{% block body %}
<div class="container-lg">
<a class="text-center" href="{{ path('product_index') }}">Список продуктов</a>
<p class="text-center">Сайт предназначен для оставления отзывов на товары.</p>
</div>
{% endblock %}
